@model int

@{
    ViewData["Title"] = "Event Invites";
    var username = User.Identity.Name;
}

    <h2 class="display-4">@this.ViewData["Title"]</h2>

    <hr />
    <br />
    <h4>Congratulations!</h4>
    <br />
    <h5>You successfully invited total of @Model users.</h5>