@{
    this.ViewData["Title"] = "About";
}

<section class="text-center">
    <h1 class="display-4">Our mission</h1>
    <p style="font-size: 2rem;">Our mission is simple: We want to make the world more active through sports</p>
</section>

<section class="text-center">
    <img asp-append-version="true" class="mb-2" style="max-width: 80%;" src="~/images/phone-in-hand.jpg" />
    <p style="font-size: 1.5rem;">
        Sports are fun, they are competitive and they don’t feel like a “workout”. Being active shouldn't be something you have to do, it should be something you want to do. From tennis to running, climbing to surfing, we believe this is the best way to stay social and healthy in an increasingly more remote and static world.
        Sporty wants to make it incredibly simple to discover activities happening nearby, as well as the people that want to participate in them. Whether you want to find awesome events nearby or just a new tennis partner in your area, <strong>LetsSport</strong> can help.
    </p>
</section>
