@model LetsSport.Web.ViewModels.Arenas.ArenaImagesEditViewModel
@{
    ViewData["Title"] = "Edit Arena Images";
}

<h3 class="display-4">@this.ViewData["Title"]</h3>

<hr>

<partial name="ConfirmationMessagePartial" />

<form class="row m-5" enctype="multipart/form-data" method="post">
    <div class="col-5">
        <div class="col-sm-12">
            <input type="file" asp-for="NewImages" class="form-control custom-file-input" multiple>
            <label class="custom-file-label">Choose Files...</label>
        </div>
    </div>
    <div class="col-sm">
        <input id="changeBtn" type="submit" class="btn btn-warning" asp-controller="Arenas" asp-action="AddImages" value="Add More Pictures" />
    </div>
</form>

<form class="row" enctype="multipart/form-data" method="post">
    <div class="container-md-md">
        @foreach (var img in Model.Images)
        {
            <div class="checkbox m-2">
                <label>
                    <img class="ml-3" src="@img.Url" asp-append-version="true" />
                </label>
                <input id="changeBtn" type="submit" asp-action="DeleteImage" asp-route-id="@img.Id" class="btn btn-warning ml-3" value="Delete" />
            </div>
        }
    </div>
    @*<div class="flex justify-content-center">
            <input id="changeBtn" type="submit" asp-action="DeleteImages" class="btn btn-warning" asp-route-data="imgIds" value="Delete All Selected" formmethod="post" />
        </div>*@
</form>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        })

        $('#select-image').val('True')
    </script>
}
