@model LetsSport.Web.ViewModels.Arenas.ArenaIndexListViewModel
@{
    this.ViewData["Title"] = "Arenas in town";
    var location = this.ViewData["location"];
}
<div style="display:flex; flex-wrap:wrap; align-items: baseline;">
    <h3 class="display-4 mr-3">List of arenas</h3>
    <h2 class="text-uppercase text-danger"><strong>@location</strong></h2>
</div>
<hr />

<partial name="_FilterBarArenasPartial" model="@Model.Filter" />

<div class="card-deck">
    @foreach (var arena in Model.Arenas)
    {
        <partial name="_ArenaCardPartial" model="arena" />
    }
</div>
