@model LetsSport.Web.ViewModels.Contacts.ContactIndexViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    this.ViewData["Title"] = "Send us a message";
}

<h3 class="display-4">@this.ViewData["Title"]</h3>

<hr />

<form enctype="multipart/form-data" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group col-sm-8">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group col-sm-8">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group col-sm-8">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group col-sm-8">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <p>
        By pressing "Send" confirm, you agree with our Privacy Policy and data processing regulations. You may get acquainted with
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
    </p>
    <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
    <input type="submit" asp-controller="Contacts" asp-action="ThankYou" class="btn btn-warning" value="Send" />
</form>

@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'contact_form' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}