@model LetsSport.Web.ViewModels.Contacts.ContactTankYouViewModel
@{
    this.ViewData["Title"] = "Contacts";
}
<h3 class="display-4">Thank you</h3>
<hr />
<br />
<h3>@Model.SenderName, thank you for contacting us!</h3>
<br />
<br />
<h4>Your request will be reviewd as soon is boosible, and we will get back to you on the email provided!</h4>

