@model LetsSport.Web.ViewModels.Home.HomeEventsListViewModel
@{
    this.ViewData["Title"] = "Home Page";
    var currentLocation = this.ViewData["location"];
}

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <br />
        <h2 class="display-5 pb-1">Join sport events in: <span class="text-uppercase text-danger"><strong>@currentLocation</strong></span></h2>
    </div>
}

<partial name="_FilterBarPartial" model="@Model.Filter" />

<div class="card-deck">
    @foreach (var game in @Model.Events)
    {
        <partial name="_EventCardPartial" model="game" />
    }
</div>