@using LetsSport.Common
@{
    this.ViewData["Title"] = "Home Page";
    var location = this.ViewData["location"];
}

    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <br />
        <h3 class="display-4">Your current location is: <strong><span class="text-uppercase text-danger">@location</span></strong></h3>
    </div>
