@model LetsSport.Web.ViewModels.Home.HomeIndexLoggedEventsListViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<h2 class="display-4">Join more events</h2>

<hr />

<partial name="_FilterBarPartial" model="@Model.Filter" />

<div class="card-deck mt-2">
    @foreach (var game in @Model.NotParticipatingEvents)
    {
        <partial name="_EventCardPartial" model="game" />
    }
</div>
