@model LetsSport.Web.ViewModels.ErrorViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="color:red">Oooooppppsss!</h2>

<div class="container container-fluid">
    <h3>Something went wrong! Sorry about that.</h3>
    <h3>Web-Administrators are informed to smack that bug ASAP.</h3>
    <div class="mb-5"></div>
    <img style="width:65%; height:auto" src="https://res.cloudinary.com/dziee8jfp/image/upload/v1584199297/ErrorImages/oops_sport_rftrnc.png" />
    <div class="mt-5">
        <div><strong>Status code:</strong> <code>@this.Model.StatusCode</code></div>
        @if (this.Model.ShowRequestId)
        {
            <br />
            <strong>Request ID:</strong> <code>@this.Model.RequestId</code>
        }
    </div>
</div>
