@model LetsSport.Data.Models.Sport

@{
    ViewData["Title"] = "Create Sport";
}

<h2>Create Sport</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Image Url</label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-sm btn-success mr-2" />
                <input type="submit" asp-action="Index" class="btn-sm btn-primary" value="Back to List" />
            </div>
        </form>
    </div>
</div>
