@model LetsSport.Web.ViewModels.Admin.Sports.EditViewModel

@{
    ViewData["Title"] = "Edit Sport";
}

<h2>Edit Sport: @Model.Name</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-sm btn-success mr-2 d-inline" />
                <input type="submit" value="Back to List" class="btn-sm btn-primary" asp-action="Index" />
            </div>
        </form>
    </div>
</div>
