@model LetsSport.Web.ViewModels.Admin.Cities.FilterBarViewModel
@using LetsSport.Web.ViewModels.Admin.Enums

<div style="border-radius:0.3rem; overflow:hidden;">

    <form class="filter-bar" style="align-items:baseline" asp-controller="Home" asp-action="Filter">
        <div>
            <span class="mr-2">
                <select asp-for="@Model.Country" class="filter-events" asp-items="@Model.Countries">
                    <option value="">country</option>
                </select>
            </span>
            <span class="mr-2">
                <select asp-for="@Model.IsDeleted" asp-items="Html.GetEnumSelectList<ModelDeletableStatus>()" class="filter-events">
                </select>
            </span>
        </div>
        <div>
            <span>
                <input class="filter-events" formmethod="get" type="submit" asp-action="Filter" value="Filter" />
            </span>
            <span>
                <a class="filter-events" asp-action="Index">Clear</a>
            </span>
        </div>
    </form>
</div>
