@model LetsSport.Web.ViewModels.Admin.Cities.EditViewModel

@{
    ViewData["Title"] = "Edit City";
}

<h2 class="display-4">Edit City: @Model.Name</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-control" asp-items="@Model.Countries"></select>
            </div>
            <div class="form-group form-check chekbox">
                <input asp-for="IsDeleted" type="checkbox" />
                <label asp-for="IsDeleted" class="pl-2"></label>
            </div>
            <div class="form-group">
                <input type="hidden"  asp-for="Id"/>
                <input type="submit" value="Save" class="btn-sm btn-success mr-2 d-inline" />
                <input type="submit" value="Back to List" class="btn-sm btn-primary" asp-action="Index" />
            </div>
        </form>
    </div>
</div>
