.chat-card {
    height: 500px;
}

.msg_card_body {
    overflow-y: auto;
}

.chat-card-header {
    border-radius: 0.25rem 0.25rem 0 0 !important;
    border-bottom: 0 !important;
    background-color: rgba(0,0,0,0.4) !important;
}

.card-footer {
    border-radius: 0 0 0.25rem 0.25rem !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.type_msg {
    background-color: rgba(0,0,0,0.3) !important;
    border-radius: 0.25rem 0 0 0.25rem;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
}

    .type_msg:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.send_btn {
    border-radius: 0 0.25rem 0.25rem 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.user_img {
    height: 4rem;
    width: 4rem;
    border: 1.5px solid #f5f6fa;
    margin: 0.2rem;
}

.user_img_msg {
    height: 2rem;
    width: 2rem;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 3.5rem;
    /*width: 40px;*/
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

    .user_info span {
        font-size: 20px;
        color: white;
    }

    .user_info p {
        font-size: 10px;
        color: rgba(255,255,255,0.6);
    }


.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 0.25rem;
    background-color: #82ccdd;
    padding: 0.3rem;
    position: relative;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 0.25rem;
    background-color: #78e08f;
    padding: 0.3rem;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    font-size: 10px;
}

.msg_head {
    position: relative;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}
