@model LetsSport.Web.ViewModels.Admin.SimpleModelsFilterBarViewModel

<div class="rounded overflow-hidden">

    <form class="filter-bar align-items-baseline" asp-controller="Home" asp-action="Filter">
        <input type="hidden" asp-for="CountryId" />
        <div>
            <span class="mr-2">
                <select asp-for="@Model.DeletionStatus" asp-items="Html.GetEnumSelectList<ModelDeletableStatus>()" class="filter-events">
                </select>
            </span>
        </div>
        <div>
            <span>
                <input class="filter-events" formmethod="get" type="submit" asp-action="Filter" value="Filter" />
            </span>
            <span>
                <input class="filter-events" type="submit" asp-action="Index" value="Clear" />
            </span>
        </div>
    </form>
</div>
